.TranshisDiv{
   
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
 
    
}
.TranshisDiv > h3{
    border-bottom: 1px solid gray;
    border-inline-start-width: 350px !important;
    padding-bottom: 10px;
}


.list li{
    margin: 0;
   list-style: none;
   margin-top: 10px;
   
   
   
}
.list li:hover{
    background-color:#04aa6d;
}

.Plus{
    
   display: flex;
   justify-content: space-around;
   padding: 10px;
   border-right: 3px solid green;
   background-color: rgb(209, 209, 218);
   
}

.minus{
    background-color: rgb(209, 209, 218);
    display: flex;
    justify-content: space-around;  
    padding: 10px;
    border-right: 3px solid red;
    margin-top: 20px;
    margin-top: 20px !important;
}
.delete-btn {
    cursor: pointer;
    background-color: #e74c3c;
    border: 0;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    padding: 2px 5px;
    margin-right: 285px;
    margin-top: 10px;
    position: absolute;
  
   
    
    transform: translate(-100%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }


  .list li:hover .delete-btn {
    opacity: 1;
  }