.App{
  text-align: center;
 width: 100%;
  
}

.incomandaccoutSummery{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.HistoryContainer{
  display: flex;
  justify-content: center;
}
.addtransaction{
  display: flex;
  justify-content: center;
}